@media (max-width: 1920px) {
    .example-container {
        margin: 0%;
        width: 100vw; 
        height: calc(100vh - 4em);
    }
    mat-drawer {
        padding: 5px;
        width: 30vw;
    }
} 
@media (max-width: 1366px) { 
    .example-container {
        margin: 0%;
        width: 100vw; 
        height: calc(100vh - 4em);
    }
    mat-drawer {
        padding: 5px;
        width: 35vw;
    }
}
table {
    width: 100%;
}
.table-container {   
    width: 100%;
    height: 95%;
    min-width: 200px;
    overflow: auto;
}