<mat-drawer-container class="example-container">
    
    <mat-drawer mode="side" opened>

        <h5> Новое задание </h5>

        <app-select-processes-form></app-select-processes-form>
        <app-chips-new-task></app-chips-new-task>
        <app-proc-personal-list-form></app-proc-personal-list-form>
        <br>
        <p id="as-method"> Способ сборки: </p>
        <div class="bt-inline">
            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedMethod">
                <mat-button-toggle id="but" value="auto" data-toggle="tooltip" data-placement="bottom" matTooltip="Авто">
                    Авто
                </mat-button-toggle>
                <mat-button-toggle value="hand" data-toggle="tooltip" data-placement="bottom" matTooltip="Ручной">
                    Ручной
                </mat-button-toggle>
                <mat-button-toggle value="shtabel" data-toggle="tooltip" data-placement="bottom" matTooltip="Штабелер">
                    Штабелер
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <br>
        <br>
        <div class="form-inline br-pad">
            <div mat-dialog-actions>
                <button mat-raised-button id="butt-cancel"
                    color="primary"
                    class="btn btn-default"
                    mwlConfirmationPopover
                    [popoverMessage]="'Вы действительно хотите <b>очистить</b> формы?'"
                    [confirmText]="'Да'"
                    [cancelText]="'Нет'"
                    placement="right"
                    (confirm)="onCancel()"
                    (cancel)="cancelClicked = true"
                    title="Отменить все изменения">
                    Очистить
                </button> 
                <button mat-raised-button
                    color="primary"
                    class="btn btn-default"
                    mwlConfirmationPopover
                    [popoverMessage]="'Вы действительно хотите <b>создать</b> новое задание?'"
                    [confirmText]="confirmText"
                    confirmButtonType="success"
                    [cancelText]="cancelText"
                    placement="right"
                    (confirm)="onSave()"
                    (cancel)="cancelClicked = true"
                    title="Сохранить все изменения">
                    Создать
                </button> 
            </div>
        </div>

    </mat-drawer>
    <mat-drawer-content>
        
    </mat-drawer-content>
   
</mat-drawer-container>