@media (max-width: 1920px) {
    .example-container {
        margin: 0%;
        width: 100vw; 
        height: calc(100vh - 4em);
    }
    mat-drawer {
        padding: 5px;
        width: 30vw;
    }
} 
@media (max-width: 1366px) { 
    .example-container {
        margin: 0%;
        width: 100vw; 
        height: calc(100vh - 4em);
    }
    mat-drawer {
        padding: 5px;
        width: 35vw;
    }
}
table {
    width: 100%;
}
.table-container {
    overflow: auto;
}
.list-proc {
    height: 20vh;
    border: 0.12em solid rgba(128, 128, 128, 0.4);
    border-radius: 5px;
}
th button {
    margin-right: 0%;
    border: none;
    outline: none;
    float: right;
}
p {
    margin-bottom: 0rem !important;
    color: rgba(128, 128, 128);
}
p#as-method {
    display: inline;
}
div.bt-inline {
    display: inline; 
}
div > button {
    margin-left: 0.4em;
}
.br-pad {
    margin-bottom: 1em;
}
.container {
    padding-left: 0% !important;
    overflow: hidden;
}
.box { 
    white-space: nowrap;
}
.box div {
    display: inline-block;
}
tr.example-detail-row {
    height: 0;
}
tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
}  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}  
.example-element-row td {
    border-bottom-width: 0;
}  
.example-element-detail {
    overflow: hidden;
    display: flex;
}
.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
} 
.example-element-description {
    padding: 16px;
}  
.example-element-description-attribution {
    opacity: 0.5;
}
.list-icon {
    margin: 0.5em 0.4em;
}
span#status {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    font-weight: 100;
    margin-left: 1em;
    margin-right: 2em;
}
.mybadge-new {
  color: #cf7807;
  border: 1px solid #cf7807;
  border-radius: 10px;
}
.mybadge-just {
  color: #0e0bdb;
  border: 1px solid #0e0bdb;
  border-radius: 10px;
}
.mybadge-notall {
  color: red;
  border: 1px solid red;
  border-radius: 10px;
}
.mybadge-all {
  color: green;
  border: 1px solid green;
  border-radius: 10px;
}
mat-grid-tile#percent {
    color: rgba(0, 0, 0, 0.7);
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: rgba(51, 118, 211, 0.7);
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}
mat-divider {
    margin: 1em 0;
}