@media (max-width: 1920px) {
    .example-container {
        margin: 0%;
        width: 100vw; 
        height: calc(100vh - 4em);
    }
    mat-drawer {
        padding: 5px;
        width: 30vw;
    }
} 
@media (max-width: 1366px) { 
    .example-container {
        margin: 0%;
        width: 100vw; 
        height: calc(100vh - 4em);
    }
    mat-drawer {
        padding: 5px;
        width: 35vw;
    }
}
table {
    width: 100%;
}
.table-container {
    overflow: auto;
}
.list-proc {
    height: 20vh;
    border: 0.12em solid rgba(128, 128, 128, 0.4);
    border-radius: 5px;
}
th button {
    margin-right: 0%;
    border: none;
    outline: none;
    float: right;
}
p {
    margin-bottom: 0rem !important;
    color: rgba(128, 128, 128);
}
p#as-method {
    display: inline;
}
div.bt-inline {
    display: inline; 
}
div > button {
    margin-left: 0.4em;
}
.br-pad {
    margin-bottom: 1em;
}