<div class="form-inline data-filter">
    <div class="form-inline date-start">
        <label class="lable-s" for="startDate" id="dateStartLable">Дата с:</label>
        <input type="date" name="startDate" id="startDate" class="form-control" [(ngModel)]="startDate"  aria-describedby="dateStartLable" />
    </div>
    <div class="form-inline">
        <label class="lable-f" for="finishDate" id="dateFinishLable">по:</label>
        <input type="date" name="finishDate" id="finishDate" class="form-control" [(ngModel)]="finishDate"  aria-describedby="dateFinishLable" />
    </div>
    <button id="bt-search" mat-raised-button color="primary" (click)="onSearch()"> Поиск </button> 
    <button id="bt-clear" mat-raised-button (click)="onClear()"> Очистить </button> 
</div>    

<mat-divider></mat-divider>

<mat-form-field class="filter">
    <mat-label> Фильтр </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Значение">
</mat-form-field>

<div class="mat-elevation-z8 table-container">
    <table mat-table [dataSource]="dataSource" class="table-hover" matSort>

        <!-- <ng-container matColumnDef="num">
            <th mat-header-cell *matHeaderCellDef> №  </th>
            <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
        </ng-container> -->
                
        <ng-container matColumnDef="article">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Артикул </th>
            <td mat-cell *matCellDef="let element"> {{element.article}} </td>
        </ng-container>

        <ng-container matColumnDef="err_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата </th>
            <td mat-cell *matCellDef="let element"> {{element.err_date}} </td>
        </ng-container>
        
        <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Место хранения </th>
            <td mat-cell *matCellDef="let element"> {{element.place}} </td>
        </ng-container>

        <ng-container matColumnDef="count_e">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Количество </th>
            <td mat-cell *matCellDef="let element"> {{element.count_e}} </td>
        </ng-container>

        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef> Сообщение </th>
            <td mat-cell *matCellDef="let element"> {{element.err_msg}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
            [ngClass]="{ hovered: row.hovered, highlighted: row.highlighted }"    
            (mouseover)="row.hovered = true" 
            (mouseout)="row.hovered = false">
        </tr>

    </table>
</div>