@media (max-width: 1920px) {
    .example-container {
        width: 100vw; 
        height: 94vh;
    }
} 
@media (max-width: 1366px) { 
    .example-container {
        width: 100vw; 
        height: 90vh;
    }
}
mat-drawer {
    width: 20em;
}
mat-list-item:hover {
    background-color: rgba(137, 43, 226, 0.226);
    cursor: pointer;
}
.list-item-selected {
    font-weight: 500;

    border-right-color: blueviolet; 
    border-right-style: double; 
    border-right-width: 0.1em;
}