<table>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td [ngClass]="{ 'select-cell': selItem.c43 }" (click)="onClickCell('4', '3')">43</td>
        <td [ngClass]="{ 'select-cell': selItem.c33 }" (click)="onClickCell('3', '3')">33</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td [ngClass]="{ 'select-cell': selItem.c42 }" (click)="onClickCell('4', '2')">42</td>
        <td [ngClass]="{ 'select-cell': selItem.c32 }" (click)="onClickCell('3', '2')">32</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td [ngClass]="{ 'select-cell': selItem.c41 }" (click)="onClickCell('4', '1')">41</td>
        <td [ngClass]="{ 'select-cell': selItem.c31 }" (click)="onClickCell('3', '1')">31</td>
    </tr>
</table>