.container {
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.input-full-width {
    margin: 0%;
    width: 100%;
}
button {
    margin-right: 0.3em;
    min-width: 3em;
    box-shadow: 1px 2px 5px #000000;   
}
.etention {
    color: red;
}