<div class="block">
    <mat-accordion>

        <mat-expansion-panel    [expanded]="isSelectInventory" 
                                (opened)="isSelectInventory = true"
                                (closed)="isSelectInventory = false; 
                                        isChoiceRow = false; 
                                        isChoiceCell = false;
                                        clearListInventory();
                                        selectedInventory = 'undefined'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Инвентаризация
                </mat-panel-title>
                <mat-panel-description>
                    <label *ngIf="isSelectInventory && !isChoiceRow && !isChoiceCell"> Выберите действие </label>
                    <label *ngIf="isChoiceRow"> Выделить ряд целиком </label>
                    <label *ngIf="isChoiceCell"> Выделить стеллаж </label>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedInventory">

                <mat-button-toggle value="choice-row" (click)="isChoiceRow = true; isChoiceCell = false;" 
                    data-toggle="tooltip" data-placement="bottom" title="Выделить ряд целиком">
                    <mat-icon id="icon-delete" aria-hidden="false" aria-label="Example home icon">zoom_out_map</mat-icon>
                </mat-button-toggle>

                <mat-button-toggle value="choice-cell" (click)="isChoiceRow = false; isChoiceCell = true;" 
                    data-toggle="tooltip" data-placement="bottom" title="Выделить стеллаж">
                    <mat-icon id="icon-delete" aria-hidden="false" aria-label="Example home icon">code</mat-icon>
                </mat-button-toggle>

            </mat-button-toggle-group>
            <br>
            <br>
            <button mat-raised-button (click)="onOkInventory()" data-toggle="tooltip" data-placement="bottom" title="Оформить инвентаризацию">Оформить</button>

        </mat-expansion-panel>

        <mat-expansion-panel    [expanded]="isSelectRotation" 
                                (opened)="isSelectRotation = true"
                                (closed)="isSelectRotation = false; 
                                        isChoiceFrom = false; 
                                        isChoiceTo = false;
                                        isFromTo = false;
                                        onClickClearFrom();
                                        onClickClearTo();
                                        clearSelectStillage();
                                        selectedRotation = 'undefined'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                   Ротация
                </mat-panel-title>
                <mat-panel-description>
                    <label *ngIf="isSelectRotation && !isChoiceFrom && !isChoiceTo"> Укажите ячейки </label>
                    <label *ngIf="isChoiceFrom"> Ячейка <b>откуда</b> переносить </label>
                    <label *ngIf="isChoiceTo"> Ячейка <b>куда</b> переносить </label>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card id="input-from-to">

                <mat-form-field>
                    <input type="text" matInput placeholder="Откуда" [(ngModel)]="cellFrom">
                    <img id="img-clear" src="../../assets/outline_cancel_black_24dp.png" (click)="onClickClearFrom()"/>
                </mat-form-field>
                    
                <img id="img-from-to" src="../../assets/arrow-from-to.ico" width="26" height="26" />
                <mat-form-field>
                    <input type="text" matInput placeholder="Куда" [(ngModel)]="cellTo">
                    <img id="img-clear" src="../../assets/outline_cancel_black_24dp.png" (click)="onClickClearTo()"/>                    
                </mat-form-field>

                <button mat-raised-button data-toggle="tooltip" data-placement="bottom" title="Перенести товар">Перенос</button>
                <div class="form-inline">
                    <mat-nav-list>
                        <mat-list-item data-placement="bottom" data-toggle="tooltip" title="{{cellFrom}}" > Pepper 36 </mat-list-item>
                        <mat-list-item data-placement="bottom" data-toggle="tooltip" title="{{cellFrom}}" > Salt 7 </mat-list-item>
                        <mat-list-item data-placement="bottom" data-toggle="tooltip" title="{{cellFrom}}" > Paprika 99 </mat-list-item>
                    </mat-nav-list>

                    <mat-nav-list>
                        <mat-list-item> Pepper </mat-list-item>
                        <mat-list-item> Salt </mat-list-item>
                        <mat-list-item> Paprika </mat-list-item>
                    </mat-nav-list>

                <!-- <mat-nav-list>
                        <mat-list-item *ngFor="let link of links">
                            <a matLine href="...">{{ link }}</a>
                        </mat-list-item>
                    </mat-nav-list> -->
                </div>
            </mat-card>                      

        </mat-expansion-panel>    
        
        <mat-expansion-panel    [expanded]="isSelectView" 
                                (opened)="isSelectView = true"
                                (closed)="isSelectView = false">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Просмотр ячейки
                </mat-panel-title>
                <mat-panel-description>
                    <label *ngIf="isSelectView"> Выберите ячейку </label>
                </mat-panel-description>
            </mat-expansion-panel-header>

        </mat-expansion-panel>

    </mat-accordion>   

</div>

<pinch-zoom *ngIf="isSelectInventory" class="block1">
    <table class="table-bord">
        <tr class="tr-bord" *ngFor="let col of tab_map">
            <td class="td-bord" *ngFor="let row of col" (click)="onSelectCell(row)"
                [ngClass]="{
                    'stillage-row-with-out-name': row.isStillageRowWithOutNameHor || row.isStillageRowWithOutNameVer,
                    'stillage-cell-with-out-name': row.isStillageOneWithOutName,
                    'stillage-select-cell': row.isSelectCellStillage,
                    'stillage-select-cell-element': row.isSelectCellStillage && (row.element === 'office' || row.element === 'zone_send' || row.element === 'zone_unload' || row.element === 'zone_storage'),
                    'road': row.element === 'road',
                    'office': row.element === 'office',
                    'zone_send': row.element === 'zone_send',
                    'zone_unload': row.element === 'zone_unload',
                    'zone_storage': row.element === 'zone_storage',
                    's-left-bottom-top': row.style === 's-left-bottom-top',
                    's-bottom-top': row.style === 's-bottom-top',
                    's-right-bottom-top': row.style === 's-right-bottom-top',
                    's-left-top-right': row.style === 's-left-top-right',
                    's-left-right': row.style === 's-left-right',
                    's-left-bottom-right': row.style === 's-left-bottom-right',
                    's-left-top': row.style === 's-left-top',
                    's-right-top': row.style === 's-right-top',
                    's-right-bottom': row.style === 's-right-bottom',
                    's-left-bottom': row.style === 's-left-bottom',
                    's-left': row.style === 's-left',
                    's-right': row.style === 's-right',
                    's-bottom': row.style === 's-bottom',
                    's-top': row.style === 's-top'
                }">
                {{row.cellName}}
                <div>
                    <p id="row-name-ver" *ngIf="row.isBraceVer">{{row.rowName}}</p>
                    <img id="img-ver1" [src]="row.imageUrl" *ngIf="row.isBraceVer" (click)="onClickBrace(row)" />
                </div>
                <div id="name-row-hor" class="form-inline">
                    <p id="row-name-hor" *ngIf="row.isBraceHor">{{row.rowName}}</p>
                    <img id="img-hor1" [src]="row.imageUrl" *ngIf="row.isBraceHor" (click)="onClickBrace(row)" />
                </div>
                <app-vertical-three-four *ngIf="row.element === 'ver-3-4'"></app-vertical-three-four>
                <app-horizontal-three-four *ngIf="row.element === 'hor-3-4'"></app-horizontal-three-four>
                <app-vertical-three-three *ngIf="row.element === 'ver-3-3'"></app-vertical-three-three>
                <app-horizontal-three-three *ngIf="row.element === 'hor-3-3'"></app-horizontal-three-three>
                <app-vertical-three-two *ngIf="row.element === 'ver-3-2'"></app-vertical-three-two>
                <app-horizontal-three-two *ngIf="row.element === 'hor-3-2'"></app-horizontal-three-two>
                <app-vertical-three-five *ngIf="row.element === 'ver-3-5'"></app-vertical-three-five>
                <app-horizontal-three-five *ngIf="row.element === 'hor-3-5'"></app-horizontal-three-five>
                <app-vertical-two-five *ngIf="row.element === 'ver-2-5'"></app-vertical-two-five>
                <app-horizontal-two-five *ngIf="row.element === 'hor-2-5'"></app-horizontal-two-five>
                <app-vertical-two-four *ngIf="row.element === 'ver-2-4'"></app-vertical-two-four>
                <app-horizontal-two-four *ngIf="row.element === 'hor-2-4'"></app-horizontal-two-four>
                <app-long-three-one-five *ngIf="row.element === 'long-3-1-5'"></app-long-three-one-five>
                <app-long-two-three-four *ngIf="row.element === 'long-2-3-4'"></app-long-two-three-four>
                <app-long-three-five *ngIf="row.element === 'long-3-5'"></app-long-three-five>
                <app-long-three-four *ngIf="row.element === 'long-3-4'"></app-long-three-four>
                <app-vertical-two-three *ngIf="row.element === 'ver-2-3'"></app-vertical-two-three>
            </td>
        </tr>
    </table>
</pinch-zoom>

<pinch-zoom *ngIf="isSelectRotation" class="block1">
    <table class="table-bord">
        <tr class="tr-bord" *ngFor="let row of tab_map">
            <td class="td-bord" *ngFor="let cell of row"
            [ngClass]="{
                'stillage-row-with-out-name': row.isStillageRowWithOutNameHor || row.isStillageRowWithOutNameVer,
                'stillage-cell-with-out-name': row.isStillageOneWithOutName,
                'stillage-select-cell': row.isSelectCellStillage,
                'stillage-select-cell-element': row.isSelectCellStillage && (row.element === 'office' || row.element === 'zone_send' || row.element === 'zone_unload' || row.element === 'zone_storage'),
                'road': row.element === 'road',
                'office': row.element === 'office',
                'zone_send': row.element === 'zone_send',
                'zone_unload': row.element === 'zone_unload',
                'zone_storage': row.element === 'zone_storage',
                's-left-bottom-top': row.style === 's-left-bottom-top',
                's-bottom-top': row.style === 's-bottom-top',
                's-right-bottom-top': row.style === 's-right-bottom-top',
                's-left-top-right': row.style === 's-left-top-right',
                's-left-right': row.style === 's-left-right',
                's-left-bottom-right': row.style === 's-left-bottom-right',
                's-left-top': row.style === 's-left-top',
                's-right-top': row.style === 's-right-top',
                's-right-bottom': row.style === 's-right-bottom',
                's-left-bottom': row.style === 's-left-bottom',
                's-left': row.style === 's-left',
                's-right': row.style === 's-right',
                's-bottom': row.style === 's-bottom',
                's-top': row.style === 's-top'
            }">
                {{cell.cellName}}
                <div>
                    <p id="row-name-ver" *ngIf="cell.isBraceVer"> 
                        {{cell.rowName}} 
                    </p>
                    <img id="img-ver1" [src]="cell.imageUrl" *ngIf="cell.isBraceVer"/>
                </div>
                <div id="name-row-hor" class="form-inline">
                    <p id="row-name-hor" *ngIf="cell.isBraceHor">
                        {{cell.rowName}}
                    </p>
                    <img id="img-hor1" [src]="cell.imageUrl" *ngIf="cell.isBraceHor"/>
                </div>
   
                <table id="st-ver" *ngIf="cell.isVer">
                    <tr>
                        <td [ngClass]="{'select-cell-from': cell.element === '11-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '11-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '1', '1')">11</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '12-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '12-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '1', '2')">12</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '13-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '13-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '1', '3')">13</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '14-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '14-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '1', '4')">14</td>
                    </tr>
                    <tr>
                        <td [ngClass]="{'select-cell-from': cell.element === '21-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '21-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '2', '1')">21</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '22-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '22-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '2', '2')">22</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '23-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '23-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '2', '3')">23</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '24-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '24-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '2', '4')">24</td>
                    </tr>
                    <tr>
                        <td [ngClass]="{'select-cell-from': cell.element === '31-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '31-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '3', '1')">31</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '32-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '32-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '3', '2')">32</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '33-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '33-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '3', '3')">33</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '34-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '34-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '3', '4')">34</td>
                    </tr>
                </table>  
                    
                <table id="st-hor" *ngIf="cell.isHor">
                    <tr>
                        <td [ngClass]="{'select-cell-from': cell.element === '14-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '14-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '1', '4')">14</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '24-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '24-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '2', '4')">24</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '34-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '34-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '3', '4')">34</td>
                    </tr>
                    <tr>
                        <td [ngClass]="{'select-cell-from': cell.element === '13-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '13-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '1', '3')">13</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '23-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '23-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '2', '3')">23</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '33-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '33-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '3', '3')">33</td>
                    </tr>
                    <tr>
                        <td [ngClass]="{'select-cell-from': cell.element === '12-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '12-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '1', '2')">12</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '22-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '22-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '2', '2')">22</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '32-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '32-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '3', '2')">32</td>        
                    </tr>
                    <tr>
                        <td [ngClass]="{'select-cell-from': cell.element === '11-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '11-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '1', '1')">11</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '21-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '21-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '2', '1')">21</td>
                        <td [ngClass]="{'select-cell-from': cell.element === '31-from' && cell.isSelectCellStillage,
                                        'select-cell-to': cell.element === '31-to' && cell.isSelectCellStillage }" (click)="onClickCell(cell, '3', '1')">31</td>
                    </tr>
                </table> 
            </td>
        </tr>
    </table>
</pinch-zoom>
<!-- <pinch-zoom *ngIf="!isSelectInventory && !isSelectRotation" class="block1">
        <table class="table-bord">
            <tr class="tr-bord" *ngFor="let row of tab_map">
                <td class="td-bord" *ngFor="let cell of row"
                [ngClass]="{
                    'stillage-row-with-out-name': row.isStillageRowWithOutNameHor || row.isStillageRowWithOutNameVer,
                    'stillage-cell-with-out-name': row.isStillageOneWithOutName,
                    'stillage-select-cell': row.isSelectCellStillage,
                    'stillage-select-cell-element': row.isSelectCellStillage && (row.element === 'office' || row.element === 'zone_send' || row.element === 'zone_unload' || row.element === 'zone_storage'),
                    'road': row.element === 'road',
                    'office': row.element === 'office',
                    'zone_send': row.element === 'zone_send',
                    'zone_unload': row.element === 'zone_unload',
                    'zone_storage': row.element === 'zone_storage',
                    's-left-bottom-top': row.style === 's-left-bottom-top',
                    's-bottom-top': row.style === 's-bottom-top',
                    's-right-bottom-top': row.style === 's-right-bottom-top',
                    's-left-top-right': row.style === 's-left-top-right',
                    's-left-right': row.style === 's-left-right',
                    's-left-bottom-right': row.style === 's-left-bottom-right',
                    's-left-top': row.style === 's-left-top',
                    's-right-top': row.style === 's-right-top',
                    's-right-bottom': row.style === 's-right-bottom',
                    's-left-bottom': row.style === 's-left-bottom',
                    's-left': row.style === 's-left',
                    's-right': row.style === 's-right',
                    's-bottom': row.style === 's-bottom',
                    's-top': row.style === 's-top'
                }">
                    {{cell.cellName}}
                    <div>
                        <p id="row-name-ver" *ngIf="cell.isBraceVer"> 
                            {{cell.rowName}} 
                        </p>
                        <img id="img-ver1" [src]="cell.imageUrl" *ngIf="cell.isBraceVer"/>
                    </div>
                    <div id="name-row-hor" class="form-inline">
                        <p id="row-name-hor" *ngIf="cell.isBraceHor">
                            {{cell.rowName}}
                        </p>
                        <img id="img-hor1" [src]="cell.imageUrl" *ngIf="cell.isBraceHor"/>
                    </div>
                    <app-vertical-three-four *ngIf="row.element === 'ver-3-4'"></app-vertical-three-four>
                    <app-horizontal-three-four *ngIf="row.element === 'hor-3-4'"></app-horizontal-three-four>
                    <app-vertical-three-three *ngIf="row.element === 'ver-3-3'"></app-vertical-three-three>
                    <app-horizontal-three-three *ngIf="row.element === 'hor-3-3'"></app-horizontal-three-three>
                    <app-vertical-three-two *ngIf="row.element === 'ver-3-2'"></app-vertical-three-two>
                    <app-horizontal-three-two *ngIf="row.element === 'hor-3-2'"></app-horizontal-three-two>
                    <app-vertical-three-five *ngIf="row.element === 'ver-3-5'"></app-vertical-three-five>
                    <app-horizontal-three-five *ngIf="row.element === 'hor-3-5'"></app-horizontal-three-five>
                    <app-vertical-two-five *ngIf="row.element === 'ver-2-5'"></app-vertical-two-five>
                    <app-horizontal-two-five *ngIf="row.element === 'hor-2-5'"></app-horizontal-two-five>
                    <app-vertical-two-four *ngIf="row.element === 'ver-2-4'"></app-vertical-two-four>
                    <app-horizontal-two-four *ngIf="row.element === 'hor-2-4'"></app-horizontal-two-four>
                    <app-long-three-one-five *ngIf="row.element === 'long-3-1-5'"></app-long-three-one-five>
                    <app-long-two-three-four *ngIf="row.element === 'long-2-3-4'"></app-long-two-three-four>
                    <app-long-three-five *ngIf="row.element === 'long-3-5'"></app-long-three-five>
                    <app-long-three-four *ngIf="row.element === 'long-3-4'"></app-long-three-four>
                    <app-vertical-two-three *ngIf="row.element === 'ver-2-3'"></app-vertical-two-three>
                </td>
            </tr>
        </table>
    </pinch-zoom> -->
<pinch-zoom class="block1" *ngIf="!isSelectTypeRowStillage && !isSelectEditor">
    <table class="table-bord">
        <tr class="tr-bord" *ngFor="let col of tab_map">
            <td class="td-bord" *ngFor="let row of col" (click)="onSelectCell(row)"
                [ngClass]="{
                    'stillage-row-with-out-name': row.isStillageRowWithOutNameHor || row.isStillageRowWithOutNameVer,
                    'stillage-cell-with-out-name': row.isStillageOneWithOutName,
                    'stillage-select-cell': row.isSelectCellStillage,
                    'stillage-select-cell-element': row.isSelectCellStillage && (row.element === 'office' || row.element === 'zone_send' || row.element === 'zone_unload' || row.element === 'zone_storage'),
                    'road': row.element === 'road',
                    'office': row.element === 'office',
                    'zone_send': row.element === 'zone_send',
                    'zone_unload': row.element === 'zone_unload',
                    'zone_storage': row.element === 'zone_storage',
                    's-left-bottom-top': row.style === 's-left-bottom-top',
                    's-bottom-top': row.style === 's-bottom-top',
                    's-right-bottom-top': row.style === 's-right-bottom-top',
                    's-left-top-right': row.style === 's-left-top-right',
                    's-left-right': row.style === 's-left-right',
                    's-left-bottom-right': row.style === 's-left-bottom-right',
                    's-left-top': row.style === 's-left-top',
                    's-right-top': row.style === 's-right-top',
                    's-right-bottom': row.style === 's-right-bottom',
                    's-left-bottom': row.style === 's-left-bottom',
                    's-left': row.style === 's-left',
                    's-right': row.style === 's-right',
                    's-bottom': row.style === 's-bottom',
                    's-top': row.style === 's-top'
                }">
                {{row.cellName}}
                <div>
                    <p id="row-name-ver" *ngIf="row.isBraceVer">{{row.rowName}}</p>
                    <img id="img-ver1" [src]="row.imageUrl" *ngIf="row.isBraceVer" (click)="onClickBrace(row)" />
                </div>
                <div id="name-row-hor" class="form-inline">
                    <p id="row-name-hor" *ngIf="row.isBraceHor">{{row.rowName}}</p>
                    <img id="img-hor1" [src]="row.imageUrl" *ngIf="row.isBraceHor" (click)="onClickBrace(row)" />
                </div>
                <app-vertical-three-four *ngIf="row.element === 'ver-3-4'"></app-vertical-three-four>
                <app-horizontal-three-four *ngIf="row.element === 'hor-3-4'"></app-horizontal-three-four>
                <app-vertical-three-three *ngIf="row.element === 'ver-3-3'"></app-vertical-three-three>
                <app-horizontal-three-three *ngIf="row.element === 'hor-3-3'"></app-horizontal-three-three>
                <app-vertical-three-two *ngIf="row.element === 'ver-3-2'"></app-vertical-three-two>
                <app-horizontal-three-two *ngIf="row.element === 'hor-3-2'"></app-horizontal-three-two>
                <app-vertical-three-five *ngIf="row.element === 'ver-3-5'"></app-vertical-three-five>
                <app-horizontal-three-five *ngIf="row.element === 'hor-3-5'"></app-horizontal-three-five>
                <app-vertical-two-five *ngIf="row.element === 'ver-2-5'"></app-vertical-two-five>
                <app-horizontal-two-five *ngIf="row.element === 'hor-2-5'"></app-horizontal-two-five>
                <app-vertical-two-four *ngIf="row.element === 'ver-2-4'"></app-vertical-two-four>
                <app-horizontal-two-four *ngIf="row.element === 'hor-2-4'"></app-horizontal-two-four>
                <app-long-three-one-five *ngIf="row.element === 'long-3-1-5'"></app-long-three-one-five>
                <app-long-two-three-four *ngIf="row.element === 'long-2-3-4'"></app-long-two-three-four>
                <app-long-three-five *ngIf="row.element === 'long-3-5'"></app-long-three-five>
                <app-long-three-four *ngIf="row.element === 'long-3-4'"></app-long-three-four>
                <app-vertical-two-three *ngIf="row.element === 'ver-2-3'"></app-vertical-two-three>
            </td>
        </tr>
    </table>
</pinch-zoom>    