.data-filter {
    margin: 0.5em;

    height: 3em;
}
.date-start {
    margin-right: 2em;
}
input {
    margin-left: 0.4em;
}
button {
    width: 7em;
    margin-left: 1em;
    font-size: 16px;
}
button#bt-clear {
    background-color: rgba(128, 128, 128, 0.5);
}
button#bt-search {
    background-color: #673ab7;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper{ 
    top: -1.4em; 
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.1em;
}
input[type="date"] {
    height: 2.45em;
} 
.name-form {
    margin-left: 2em;
}
table#t-main {
    width: 100%;
}
.t-type {
    margin-right: 0.5em;
}
.t-type tr {
    border-bottom: 1px solid rgba(165, 159, 159, 0.5);
}
.t-type tr:last-child {
    border-bottom: none;
}
.t-type td {
    padding-right: 10px;
}
span {
    margin: 0 1em;
}
td#t_td {
    text-align: center;
}
.mat-column-user {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}   
.mat-column-motivation {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 85% !important;
    width: 85% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
