<table>
    <tr>
        <td [ngClass]="{ 'select-cell': selItem.c11 }" (click)="onClickCell('1', '1')">11</td>
        <td [ngClass]="{ 'select-cell': selItem.c21 }" (click)="onClickCell('2', '1')">21</td>
        <td [ngClass]="{ 'select-cell': selItem.c31 }" (click)="onClickCell('3', '1')">31</td>
        <td [ngClass]="{ 'select-cell': selItem.c41 }" (click)="onClickCell('4', '1')">41</td>
        <td [ngClass]="{ 'select-cell': selItem.c51 }" (click)="onClickCell('5', '1')">51</td>        
    </tr>
    <tr>
        <td [ngClass]="{ 'select-cell': selItem.c12 }" (click)="onClickCell('1', '2')">12</td>
        <td [ngClass]="{ 'select-cell': selItem.c22 }" (click)="onClickCell('2', '2')">22</td>
        <td [ngClass]="{ 'select-cell': selItem.c32 }" (click)="onClickCell('3', '2')">32</td>
        <td [ngClass]="{ 'select-cell': selItem.c42 }" (click)="onClickCell('4', '2')">42</td>
        <td [ngClass]="{ 'select-cell': selItem.c52 }" (click)="onClickCell('5', '2')">52</td>
    </tr>
</table>