<div id="content">

    <mat-tab-group  (selectedTabChange)="onClickGroup($event)">
        <mat-tab label="Группы"> 

            <mat-form-field id="no" appearance="legacy">
                <mat-label> Фильтр </mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Введите значение">
                <mat-icon matSuffix>search</mat-icon>
                <mat-hint> Поиск по всем столбцам </mat-hint>
            </mat-form-field>

            <div class="tab-container">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Группы </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>      
                    
                    <ng-container matColumnDef="rights">
                        <th mat-header-cell *matHeaderCellDef> Права </th>
                        <td mat-cell *matCellDef="let element"> 
                            <ul>
                                <li *ngIf="element.root_order"> Добавление заказа </li>
                                <li *ngIf="element.root_sklad"> Редактирование склада </li>
                                <li *ngIf="element.root_user"> Управление персоналом </li>
                            </ul>
                        </td>
                    </ng-container>   
                    
                    <ng-container matColumnDef="menu">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="onOpenEditGroupForm(element)">
                                    <mat-icon>edit</mat-icon>
                                    <span> Редактировать </span>
                                </button>
                                <button mat-menu-item (click)="onDelete(element)">
                                    <mat-icon>delete_forever</mat-icon>
                                    <span> Удалить </span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>  
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsGrop; sticky: true"></tr>
                    <tr id="row" mat-row *matRowDef="let row; columns: displayedColumnsGrop; let i = index" 
                    (click)="onSelectRow(i)" 
                    [ngClass]="{ 'select-row': i === selectItem }"></tr>

                </table>
            </div>            
        </mat-tab>
        <mat-tab label="Создать группу"> 

            <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel> Название новой группы </ng-template>
                    <mat-form-field id="only" appearance="outline">
                        <mat-label> Введите название </mat-label>
                        <input matInput placeholder="Название" [(ngModel)]="skladGroup.name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <hr>
                    <div>
                        <button type="button" id="bt" class="btn btn-light"  matStepperNext> Дальше </button> 
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel> Права </ng-template>

                    <section class="root-section">
                        <mat-checkbox [(ngModel)]="skladGroup.root_order" formControlName="secondCtrl" required> Добавление заказа </mat-checkbox>
                        <mat-checkbox [(ngModel)]="skladGroup.root_sklad" formControlName="secondCtrl" required> Редактирование склада </mat-checkbox>
                        <mat-checkbox [(ngModel)]="skladGroup.root_user" formControlName="secondCtrl" required> Управление персоналом </mat-checkbox>
                    </section>

                    <hr>
                    <div>
                        <button type="button" id="bt" class="btn btn-light"  matStepperPrevious> Назад </button> 
                        <button type="button" id="bt" class="btn btn-light"  matStepperNext> Дальше </button> 
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel> Готово </ng-template>
                <ng-container *ngIf="isGroupCreated"> Группа создана! </ng-container>
                <ng-container *ngIf="!isGroupCreated">  Потвердите создание группы. </ng-container>
               
                <hr>
                <div *ngIf="!isGroupCreated">
                    <button type="button" id="bt" class="btn btn-light"  matStepperPrevious> Назад </button> 
                    <button type="button" id="bt" class="btn btn-warning"  (click)="stepper.reset()"> Сброс </button> 
                    <button type="button" id="bt" class="btn btn-primary"  (click)="onCreateGroup()"> Создать </button> 
                </div>

            </mat-step>
            </mat-horizontal-stepper>
        </mat-tab>
    </mat-tab-group>		

</div>