.cell {
    font-size: 20px;
}
.example-container {
    margin: 0%;
    width: 100vw; 
    height: calc(100vh - 4em);
}
.table-container {   
    width: 100%;
    height: 50vh;
    overflow: auto;
}
table {
    width: 100%;
}
.bt-right {
    margin-left: auto;
    margin-right: 0em;
}