<mat-form-field appearance="outline">
    <mat-label> Название группы </mat-label>
    <input matInput placeholder="Введите название" [(ngModel)]="data.group.name">
</mat-form-field>

<section class="root-section">
    <mat-checkbox [(ngModel)]="data.group.root_order"> Добавление заказа </mat-checkbox>
    <mat-checkbox [(ngModel)]="data.group.root_sklad"> Редактирование склада </mat-checkbox>
    <mat-checkbox [(ngModel)]="data.group.root_user"> Управление персоналом </mat-checkbox>
</section>



<div mat-dialog-actions>
    <button type="button" id="bt" class="btn" (click)="onNoClick()"> Отмена </button> 
    <button type="button" id="bt" class="btn" [mat-dialog-close]="data.group" cdkFocusInitial> Ok </button> 
</div>