<table>
    <tr>
        <td>14</td>
        <td>24</td>
        <td>34</td>
    </tr>
    <tr>
        <td>13</td>
        <td>23</td>
        <td>33</td>
    </tr>
    <tr>
        <td>12</td>
        <td>22</td>
        <td>32</td>        
    </tr>
    <tr>
        <td>11</td>
        <td>21</td>
        <td>31</td>
    </tr>
</table> 

    <!-- <table>
        <tr>
            <td (click)="onOpenDetailWindow('1', '4')">14</td>
            <td (click)="onOpenDetailWindow('2', '4')">24</td>
            <td (click)="onOpenDetailWindow('3', '4')">34</td>
        </tr>
        <tr>
            <td (click)="onOpenDetailWindow('1', '3')">13</td>
            <td (click)="onOpenDetailWindow('2', '3')">23</td>
            <td (click)="onOpenDetailWindow('3', '3')">33</td>
        </tr>
        <tr>
            <td (click)="onOpenDetailWindow('1', '2')">12</td>
            <td (click)="onOpenDetailWindow('2', '2')">22</td>
            <td (click)="onOpenDetailWindow('3', '2')">32</td>        
        </tr>
        <tr>
            <td (click)="onOpenDetailWindow('1', '1')">11</td>
            <td (click)="onOpenDetailWindow('2', '1')">21</td>
            <td (click)="onOpenDetailWindow('3', '1')">31</td>
        </tr>
    </table> -->