<ng-container *ngIf="isLogin">
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['product-group']" (click)="isPersonal = false; isMap = false; isOrder = false;"> 
                    Учет продукции по группам 
                </a>
            </li>
            <li class="nav-item dropdown" (click)="isPersonal = false; isMap = false; isOrder = true;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOrders" 
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <ng-container *ngIf="(  isPathActiv('/product-group') || 
                                            isPathActiv('/map') || 
                                            isPathActiv('/map-edit') || 
                                            isPathActiv('/error-journal') || 
                                            isPathActiv('/staff')) && 
                                            (!isPathActiv('/tasks') || 
                                            isPathActiv('/list-doc'))">
                        <label> Внутрискладские процессы </label>
                    </ng-container>
                    <ng-container *ngIf="isPathActiv('/tasks')">
                        <label class="select-item-menu" > Задания </label>
                    </ng-container>
                    <ng-container *ngIf="isPathActiv('/list-doc')">
                        <label class="select-item-menu" > Список документов </label>
                    </ng-container>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownOrders" >
                    <a class="dropdown-item" [routerLink]="['tasks']"> Задания </a>
                    <a class="dropdown-item" [routerLink]="['']"> Входящий поток </a>
                    <a class="dropdown-item" [routerLink]="['']"> Исходящий поток </a>
                    <a class="dropdown-item" [routerLink]="['']"> Внутренние процессы </a>
                    <a class="dropdown-item" [routerLink]="['list-doc']"> Список документов </a>
                </div>                
            </li>
            <li class="nav-item dropdown" (click)="isPersonal = false; isMap = true; isOrder = false;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTerminal" role="button" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">
                <ng-container *ngIf="(  isPathActiv('/product-group') || 
                                        isPathActiv('/tasks') || 
                                        isPathActiv('/list-doc') || 
                                        isPathActiv('/staff')) && 
                                        (!isPathActiv('/map') || 
                                        !isPathActiv('/map-edit') ||
                                        !isPathActiv('/error-journal'))">
                    <label> Топология склада </label>
                </ng-container>
                <ng-container *ngIf="isPathActiv('/map')">
                    <label class="select-item-menu" > Карта склада </label>
                </ng-container>
                <ng-container *ngIf="isPathActiv('/map-edit')">
                    <label class="select-item-menu" > Редактирование склада </label>
                </ng-container>
                <ng-container *ngIf="isPathActiv('/error-journal')">
                    <label class="select-item-menu" > Журнал </label>
                </ng-container>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownTerminal">
                    <a class="dropdown-item" [routerLink]="['map']"> Карта склада </a>
                    <a class="dropdown-item" [routerLink]="['map-edit']"> Редактирование склада </a>
                    <a class="dropdown-item" [routerLink]="['error-journal']"> Журнал </a>
                </div>                
            </li>
            <li class="nav-item dropdown" (click)="isPersonal = true; isMap = false; isOrder = false;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStore" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <ng-container *ngIf="(  isPathActiv('/product-group') || 
                                        isPathActiv('/map') || 
                                        isPathActiv('/map-edit') || 
                                        isPathActiv('/error-journal') || 
                                        isPathActiv('/list-doc') || 
                                        isPathActiv('/tasks')) && 
                                        !isPathActiv('/staff')">
                    <label> Управление ресрсами и персоналом </label>
                </ng-container>
                <ng-container *ngIf="isPathActiv('/staff')">
                    <label class="select-item-menu" > Управление персоналом </label>
                </ng-container>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownStore">
                    <a class="dropdown-item" [routerLink]="['staff']"> Управление персоналом </a>
                    <a class="dropdown-item" [routerLink]="['']"> Управление штабелерами </a>
                    <a class="dropdown-item" [routerLink]="['']"> Складской учет в разрезах </a>
                </div>                
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0" *ngIf="isLogin">
            <span id="hello-name"> Здравствуйте, {{loginResponse.cn}} </span>
            <button type="button" id="login" class="btn btn-secondary" (click)="onLogOut()">Выйти</button>
        </div>
        
    </div>
</nav>
</ng-container>