<table>
    <tr>
        <td [ngClass]="{ 'select-cell': selItem.c51 }" (click)="onClickCell('5', '1')">51</td>
        <td [ngClass]="{ 'select-cell': selItem.c52 }" (click)="onClickCell('5', '2')">52</td>
        <td [ngClass]="{ 'select-cell': selItem.c53 }" (click)="onClickCell('5', '3')">53</td>        
    </tr>
    <tr>
        <td [ngClass]="{ 'select-cell': selItem.c41 }" (click)="onClickCell('4', '1')" colspan="3">41</td>
    </tr>
    <tr>
        <td [ngClass]="{ 'select-cell': selItem.c31 }" (click)="onClickCell('3', '1')" colspan="3">31</td>
    </tr>
    <tr>
        <td [ngClass]="{ 'select-cell': selItem.c21 }" (click)="onClickCell('2', '1')" colspan="3">21</td>     
    </tr>
    <tr>
        <td [ngClass]="{ 'select-cell': selItem.c11 }" (click)="onClickCell('1', '1')" colspan="3">11</td>
    </tr>
</table> 