<!-- <mat-accordion>
    <mat-expansion-panel *ngFor="let pc of listPc">
        <mat-expansion-panel-header>
            {{pc.nPC_NAME}}
        </mat-expansion-panel-header>
        {{pc.aNY_DATA1}} - {{pc.aNY_DATA2}} - {{pc.aNY_DATA3}}
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="pc.body" class="table-hover">

                <ng-container matColumnDef="article">
                    <th mat-header-cell *matHeaderCellDef> НПЦ </th>
                    <td mat-cell *matCellDef="let element"> {{element.article}} </td>
                </ng-container>   
                
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Дата </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="count">
                    <th mat-header-cell *matHeaderCellDef> Откуда </th>
                    <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                </ng-container>

                <ng-container matColumnDef="count_main">
                    <th mat-header-cell *matHeaderCellDef> Куда </th>
                    <td mat-cell *matCellDef="let element"> {{element.count_main}} </td>
                </ng-container>

                <ng-container matColumnDef="count_braq">
                    <th mat-header-cell *matHeaderCellDef> Куда </th>
                    <td mat-cell *matCellDef="let element"> {{element.count_braq}} </td>
                </ng-container>

                <ng-container matColumnDef="place">
                    <th mat-header-cell *matHeaderCellDef> Куда </th>
                    <td mat-cell *matCellDef="let element"> {{element.place}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedCurrentPcColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedCurrentPcColumns;"></tr>
                    
            </table>
        </div>
    </mat-expansion-panel>
</mat-accordion> -->