.table-container {
    width: 100%; 
    height: calc(100vh - 8em);
}
.mat-column-article {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}   
.mat-column-barcode {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}   
.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
} 
.mat-column-count {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-place {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-hisnory {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40% !important;
    width: 40% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
table {
    width: 100%;
}
button {
    width: 7em;
    margin-left: 0.6em;
}
button#bt-clear {
    background-color: rgba(207, 204, 204, 0.5);
    font-size: 16px;
}
button#bt-search {
    background-color: #673ab7;
    font-size: 16px;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
    padding: 0.4em 0px !important;
}
#only ::ng-deep .mat-form-field-label-wrapper{ 
    top: -1.5em; 
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.2em;
}
mat-grid-list {
    max-width: 70em;

    margin: 0.4em;
    padding: 0.4em;
}
.content {
    margin: 0.5em;
}
.bt-tools {
    position: relative;
    top: -0.2em;
}
.button-group {
    margin-left: 0.5em;

    position: relative;
    top: -0.2em;
}